.formik-conteiner{
	min-width:15rem;
	max-width: 230rem;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}
.page {
	.form-block {
		padding: 2rem;
		border: 2px solid #4f595c;
		border-radius: 1rem;
		box-sizing: border-box;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}

		legend {
			float: none;
			width: auto;
			text-align: left;
		}

		.form-item {
			display: block;
			width: 100%;
			height: 5ren;
		}

		.form-label {
			text-align: left;
		}
	}
}
